#details{
    display: grid;
    grid-template-columns: repeat(1);
    justify-content: center;
}

.item{
  border: 2px solid black;
    border-radius: 4px;
    margin: 10px;
    padding: 2px;
    text-align: center;
    display: flex;
    height: 90px;
  
}

.heading1{
          text-align: center;
}

.item h2{
        text-align: center;
        padding: 2px;

}

.item  p >span{
       font-weight: 800;   
}
.item p{
  padding: 5px 8px;
}

.no{
    margin-right: 40px;
    margin-left: 20px;
    border: 2px solid black;
    padding: 1% 20px;
    
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.name{
        width: 400px;
        align-items: center;
        display: flex;
        justify-content: flex-start;
}

.desc{
    
    align-items: center;
    display: flex;
    justify-content: flex-start;    
}

